{% extends "base.html" %}
{% load static %}

{% block content %}
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="{% url "products:home" %}" rel="nofollow">Home</a>
                    
                </div>
            </div>
        </div>
        <section class="mt-60 mb-60">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product-detail accordion-detail">
                            <div class="row mb-50">
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="detail-gallery">
                                        <span class="zoom-icon"><i class="fa fa-search-plus"></i></span>
                                        <!-- MAIN SLIDES -->
                                        <div class="product-image-slider">
                                            {% for item in product.product_image.all %}
                                            <figure class="border-radius-10">
                                                
                                                <img src="{{item.img.url}}" alt="product image">
                                            </figure>
                                            {% endfor %}
                                        </div>
                                        <!-- THUMBNAILS -->
                                        <div class="slider-nav-thumbnails pl-15 pr-15">
                                            {% for item in product.product_image.all %}
                                            <div><img src="{{item.img.url}}" alt="product image"></div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <!-- End Gallery -->
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="detail-info">
                                        <h2 class="title-detail">{{product.title}}</h2>
                                        <div class="product-detail-rating">
                                            <div class="pro-details-brand">
                                                <span> Brands: <a href="shop-grid-right.html">{{product.brand}}</a></span>
                                            </div>
                                            <div class="product-rate-cover text-end">
                                                <div class="rating-result" title="90%">
                                                    <div class="product-rating" style="width:{{product.mid_stars_percent}}%">
                                                    </div>
                                                </div>
                                                <span class="font-small ml-5 text-muted"> ({{product.product_review.all|length}} reviews)</span>
                                            </div>
                                        </div>
                                        <div class="clearfix product-price-cover">
                                            <div class="product-price primary-color float-left">
                                                
                                                <ins><span class="text-brand">{{product.get_descount|floatformat:0}} so'm</span></ins>
                                                {% if product.descount %}
                                                <ins><span class="old-price font-md ml-15">{{product.price|floatformat:0}} so'm</span></ins>
                                                <span class="save-price  font-md color3 ml-15">{{product.descount}}% Off</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="bt-1 border-color-1 mt-15 mb-15"></div>
                                        <div class="short-desc mb-30">
                                            <p>{{product.discription|safe}}</p>
                                        </div>
                                        <div class="attr-detail attr-color mb-15">
                                            <strong class="mr-10">Color</strong>
                                            <ul class="list-filter color-filter">
                                                {% for color in product.color.all %}
                                                <li><input type="checkbox" name="" id="">{{color}}</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        <div class="attr-detail attr-size">
                                            <strong class="mr-10">Size</strong>
                                            <ul class="list-filter size-filter font-small">
                                                {% for size in product.size.all %}
                                                <li><a href="#">{{size}}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                                        <div class="detail-extralink">
                                            <div class="detail-qty border radius">
                                                <a href="#" class="qty-down"><i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                                <span class="qty-val">1</span>
                                                <a href="#" class="qty-up"><i class="fa fa-caret-up" aria-hidden="true"></i></a>
                                            </div>
                                            <div class="product-extra-link2">
                                                <a aria-label="Add To Cart" class="action-btn hover-up" href="{% url "order:create_cart" product.uuid %}"><i class="far fa-shopping-bag"></i></a>
                                                <a aria-label="Add To Wishlist" class="action-btn hover-up" href="{% url "order:create_wishlist" product.uuid %}"><i class="far fa-heart"></i></a>
                                            </div>
                                        </div>
                                        <ul class="product-meta font-xs color-grey mt-50">
                                            <li class="mb-5">Tags: <a href="#" rel="tag">Cloth</a>, <a href="#" rel="tag">Women</a>, <a href="#" rel="tag">Dress</a> </li>
                                            <li>Availability:<span class="in-stock text-success ml-5">8 Items In Stock</span></li>
                                        </ul>
                                    </div>
                                    <!-- Detail Info -->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-10 m-auto entry-main-content">
                                    {{product.discription_main|safe}}
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}
    {% block script %}
    
    <script src="{% static "assets/js/plugins/jquery.elevatezoom.js" %}"></script>
    <script src="{% static "assets/js/shop.js" %}"></script>
    {% endblock script %}
